* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Sarabun', sans-serif !important;
}

ul,
li {
    list-style: none;
}

ul {
    margin: 0;
}

a {
    text-decoration: none !important;
}

@font-face {
    font-family: "PF BeauSans Pro";
    src: url('../font/PFBeauSansPro-Regular.ttf') format('truetype'), url('../font/PFBeauSansPro-Bbook.ttf'), url('../font/PFBeauSansPro-BbookItalic.ttf'), url('../font/PFBeauSansPro-Black.ttf'), url('../font/PFBeauSansPro-BlackItalic.ttf'), url('../font/PFBeauSansPro-Bold.ttf'), url('../font/PFBeauSansPro-BoldItalic.ttf'), url('../font/PFBeauSansPro-Italic.ttf'), url('../font/PFBeauSansPro-Light.ttf'), url('../font/PFBeauSansPro-LightItalic.ttf'), url('../font/PFBeauSansPro-SemiBold.ttf'), url('../font/PFBeauSansPro-SemiBoldItalic.ttf');
}