.banner {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .heading {
        font-family: Sarabun;
        font-style: normal;
        font-weight: 300;
        font-size: 48px;
        line-height: 137.3%;
        /* or 66px */
        letter-spacing: -2.40869px;
        text-transform: uppercase;
        color: #000000;
    }
    .des {
        font-family: Sarabun;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 24px;
        /* or 171% */
        color: #010B12;
        margin: 40px 0 50px 0;
    }
    button {
        border: none;
        width: 156px;
        height: 48px;
        background: #ED2C34;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 116.3%;
        /* identical to box height, or 16px */
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #FFFFFF;
        &:focus {
            outline: none;
        }
    }
    .bb {
        border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
        padding-bottom: 130px;
    }
}