.history {
    padding: 112px;
    background-color: #f2f3f3;
    .bottom {
        display: flex;
        margin-top: 150px;
        .line-time {
            display: flex;
            align-items: center;
            i {
                margin: 0 20px;
            }
        }
    }
    .heading {
        font-family: "BeauSansPro";
        font-style: normal;
        font-weight: 300;
        font-size: 28px;
        line-height: 150%;
        /* identical to box height, or 42px */
        letter-spacing: -0.5px;
        text-transform: uppercase;
        color: #000000;
    }
    .des {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        /* or 171% */
        color: #1a1a1a;
        mix-blend-mode: normal;
        opacity: 0.8;
        padding-top: 12px;
        width: 22%;
    }
    .slider {
        .small {
            position: absolute;
            left: 500px;
            bottom: -167px;
        }
        ul {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            li {
                display: flex;
                align-items: flex-start;
                img {
                    margin-right: 20px;
                }
                p {
                    font-style: normal;
                    font-weight: 600;
                    font-size: 15px;
                    line-height: 150%;
                    /* or 22px */
                    letter-spacing: 0.5px;
                    text-transform: uppercase;
                    color: #101810;
                }
            }
        }
    }
}