.service {
    padding-top: 120px;
    height: 74vh;
    @media (min-width: 1024px) and (max-width: 1281px) {
        padding-top: 50px;
    }
    .heading {
        font-family: "BeauSansPro";
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 150%;
        /* or 42px */
        letter-spacing: -0.5px;
        text-transform: uppercase;
        color: #010b12;
    }
    .list-service {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-top: 50px;
        .list {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            margin-right: 100px;
            li {
                margin-bottom: 50px;
                display: flex;
                .nummber {
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 124.3%;
                    /* or 17px */
                    text-transform: uppercase;
                    color: #000000;
                    opacity: 0.3;
                }
                p {
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 157.3%;
                    /* or 22px */
                    display: flex;
                    align-items: flex-end;
                    letter-spacing: 0.5px;
                    text-transform: uppercase;
                    color: #010b12;
                    margin: 0;
                    margin-left: 20px;
                    @media (min-width: 1024px) and (max-width: 1200px) {
                        white-space: nowrap;
                    }
                }
            }
        }
    }
    .des {
        font-family: Sarabun;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 24px;
        /* or 171% */
        color: #010b12;
        mix-blend-mode: normal;
        opacity: 0.8;
        margin-bottom: 30px;
        width: 50%;
        @media (min-width: 1024px) and (max-width: 1200px) {
            margin-top: -30px;
        }
    }
    .seemore {
        display: flex;
        align-items: center;
        margin-bottom: 150px;
        p {
            margin: 0;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 116.3%;
            /* identical to box height, or 16px */
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #ed2c34;
            margin-right: 10px;
        }
    }
    .grid-layout {
        display: flex;
        margin-left: 20%;
        margin-top: 80px;
        position: absolute;
        @media (min-width: 1440px) and (max-width: 1600px) {
            margin-left: -20%;
        }
        @media (min-width: 1366px) and (max-width: 1400px) {
            margin-left: -27%;
        }
        @media (min-width: 1024px) and (max-width: 1290px) {
            margin-left: 6%;
            margin-top: 120px;
        }
        .item1 {
            position: relative;
            margin-left: 20px;
            .contain1.animate::after {
                animation: scrollTop 1s linear forwards;
            }
            @keyframes scrollTop {
                to {
                    bottom: 100%;
                }
            }
            .contain1 {
                margin-top: 270px;
                position: relative;
                &::after {
                    position: absolute;
                    content: "";
                    display: block;
                    top: 0px;
                    right: 0;
                    left: 0;
                    bottom: 50%;
                    background: #fff;
                }
                img {
                    margin-bottom: 20px;
                    @media (min-width: 1024px) and (max-width: 1290px) {
                        width: 125px;
                        margin-bottom: 0;
                    }
                }
            }
        }
        .item2 {
            margin-left: 20px;
            .contain2.animate::after {
                animation: scrollTop 1s linear forwards;
            }
            .contain2 {
                margin-top: 100px;
                position: relative;
                &::after {
                    position: absolute;
                    content: "";
                    display: block;
                    top: 0px;
                    right: 0;
                    left: 0;
                    bottom: 50%;
                    background: #fff;
                }
                @media (min-width: 1024px) and (max-width: 1290px) {
                    width: 125px;
                    margin-top: 120px;
                }
                img {
                    margin-bottom: 20px;
                    @media (min-width: 1024px) and (max-width: 1290px) {
                        width: 125px;
                    }
                }
            }
        }
        .item3 {
            margin-left: 20px;
            margin-right: 20px;
            .contain3.animate::after {
                animation: scrollTop 1s linear forwards;
            }
            .contain3 {
                position: relative;
                &::after {
                    position: absolute;
                    content: "";
                    display: block;
                    top: 0px;
                    right: 0;
                    left: 0;
                    bottom: 50%;
                    background: #fff;
                }
                @media (min-width: 1024px) and (max-width: 1290px) {
                    width: 125px;
                }
                img {
                    margin-bottom: 20px;
                    @media (min-width: 1024px) and (max-width: 1290px) {
                        width: 125px;
                    }
                }
            }
        }
        .item4 {
            .contain4.animate::after {
                animation: scrollTop 1s linear forwards;
            }
            .contain4 {
                margin-top: 50px;
                position: relative;
                &::after {
                    position: absolute;
                    content: "";
                    display: block;
                    top: 0px;
                    right: 0;
                    left: 0;
                    bottom: 50%;
                    background: #fff;
                }
                img {
                    margin-bottom: 20px;
                    @media (min-width: 1024px) and (max-width: 1290px) {
                        width: 125px;
                    }
                }
            }
        }
    }
}