.history {
    padding: 160px 0;
    background: #f9f6f8;
    .heading {
        font-family: "BeauSansPro";
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 150%;
        /* identical to box height, or 42px */
        text-transform: uppercase;
        color: #222222;
    }
    .title {
        font-style: normal;
        font-size: 24px;
        line-height: 29px;
        /* or 121% */
        color: #1a1a1a;
        mix-blend-mode: normal;
    }
    .history-left {
        margin-top: 150px;
    }
    .history-img {
        margin-top: 70px;
    }
    .history-text {
        font-size: 36px;
        color: #ec2c34;
    }
    .history-sub {
        font-size: 12px;
        font-weight: 700;
        line-height: 24px;
        color: #1a1a1a;
    }
    .history-icon {
        margin-right: 20px;
        width: 17%;
        justify-content: space-between;
        img {
            width: 9px;
        }
    }
    .history-time {
        width: 70%;
        .history-time-red {
            font-size: 18px;
            color: #ec2c34;
            font-weight: 500;
        }
    }
    .history-des {
        width: 70%;
        font-size: 14px;
        line-height: 24px;
    }
    .history-item {
        width: 70%;
        font-size: 36px;
        line-height: 54px;
    }
}