.service {
    background: #f9f6f8;
    .container {
        border-top: 2px solid #A9A9A9;
    }
    .heading {
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 42px;
        font-family: "BeauSansPro";
        text-transform: uppercase;
        margin: 100px 0;
        color: #222222;
        width: 50%;
    }
    .service__item {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        img {
            margin-bottom: 30px;
        }
        .title {
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 28.31px;
            /* identical to box height, or 38px */
            display: flex;
            align-items: flex-end;
            letter-spacing: -0.5%;
            text-transform: uppercase;
            color: #010b12;
        }
        .description {
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 24px;
            color: #010b12;
            mix-blend-mode: normal;
            width: 60%;
            margin-bottom: 100px;
            margin-top: 15px;
        }
    }
}