.business {
    padding: 130px 0;
    background-color: #E70031;
    .heading {
        font-family: PF BeauSans Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 38px;
        line-height: 150%;
        /* or 57px */
        text-transform: uppercase;
        color: #FFFFFF;
        padding: 100px 0;
    }
    .item.customer svg path {
        stroke-dasharray: 70;
        stroke-dashoffset: 70;
        animation: draw 5s forwards;
    }
    .item.customer svg circle {
        stroke-dasharray: 370;
        stroke-dashoffset: 370;
        animation: draw 5s forwards;
    }
    .item.social svg path {
        stroke-dasharray: 190;
        stroke-dashoffset: 190;
        animation: draw 5s forwards;
    }
    .item.people svg path {
        stroke-dasharray: 90;
        stroke-dashoffset: 90;
        animation: draw 5s forwards;
    }
    @keyframes draw {
        to {
            stroke-dashoffset: 0;
        }
    }
    svg {
        margin-bottom: 50px;
    }
    .content {
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 155.5%;
        text-transform: uppercase;
        width: 80%;
        color: #F8F6F6;
        padding-bottom: 150px;
        text-align: center;
    }
}