.history {
  position: relative;
  background: #faf6f8;
  padding-bottom: 100px;
  padding-top: 550px;
  .pading-t {
    ul {
      li {
        margin-left: 35px;
        position: relative;
        &::before {
          position: absolute;
          content: "";
          background: #e70031;
          border-radius: 5px;
          width: 10px;
          height: 10px;
          top: 10px;
          left: -25px;
        }
      }
    }
  }
  .his {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -30%);
    overflow: hidden;
    width: 1060px;
    height: 543px;
    .swiper-container {
      overflow: unset;
      .swiper-pagination-progressbar {
        top: 539px !important;
        background-color: #c4c4c4 !important;
        .swiper-pagination-progressbar-fill {
          background-color: #ec2c34;
        }
      }
    }
    .mask {
      position: absolute;
      left: 0;
      top: 0;
      width: 1060px;
      height: 543px;
    }
  }
  .heading-top {
    font-family: PF BeauSans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 150%;
    /* identical to box height, or 57px */
    text-transform: uppercase;
    color: #222222;
  }
  .content {
    font-family: Sarabun;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    /* or 36px */
    color: #1a1a1a;
    mix-blend-mode: normal;
    opacity: 0.8;
    width: 80%;
  }
  .swiper-slider-his {
    position: relative;
    .line-his {
      position: absolute;
      right: -50%;
      top: 50%;
    }
    .swiper-slide {
      z-index: 100000000;
      .item-year {
        // background-color: #1a1a1a;
        position: relative;
        .bg-img {
          position: absolute;
          width: 100%;
          display: block !important;
        }
        width: 300px;
        height: 300px;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;
        .overlay {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          height: 100%;
          width: 100%;
          border-radius: 50%;
          z-index: 10;
          opacity: 0;
          background: transparent;
          p,
          img {
            display: none;
          }
        }
      }
    }
    .swiper-slide-active {
      .item-year {
        position: relative;
        .overlay {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          height: 100%;
          width: 100%;
          background: linear-gradient(
              0deg,
              rgba(0, 0, 0, 0.31),
              rgba(0, 0, 0, 0.31)
            ),
            url(ptt_1959_8.jpg);
          border-radius: 50%;
          z-index: 10;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          opacity: 1;
          border: 3px solid #e70031;
          p {
            display: block;
            font-family: PF BeauSans Pro;
            font-style: normal;
            font-weight: normal;
            font-size: 42px;
            line-height: 150%;
            text-transform: uppercase;
            color: #f8f6f6;
            margin-top: 20px;
            z-index: 1000;
          }
          img {
            display: block;
            z-index: 1000;
          }
        }
        .bg-img {
          position: absolute;
          width: 100%;
          display: block;
          z-index: 0;
        }
      }
    }
    .swiper-slide-next {
      .item-year {
        // transform: scale(0.7);
      }
    }
    .his-next,
    .his-prev {
      outline: none;
    }
  }
}

.his__develop {
  padding-top: 150px;
  background-color: #faf6f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
  img {
    transition: all 0.8s ease-in-out;
    &:hover {
      transform: scale(1.1);
    }
  }
  .card {
    position: relative;
    overflow: hidden;
    .number {
      position: absolute;
      top: 180px;
      left: 50%;
      width: 57px;
      height: 57px;
      border-radius: 50%;
      background: #ffffff;
      font-weight: bold;
      font-size: 24px;
      line-height: 25px;
      z-index: 10000;
      /* identical to box height, or 104% */

      display: flex;
      align-items: center;
      text-align: center;

      color: #e70031;

      mix-blend-mode: normal;
      opacity: 1;
      transform: translateX(-50%);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .card-img-top {
    width: 100%;
  }
  .card-title {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    min-height: 70px;
    /* identical to box height, or 133% */

    text-align: center;
    text-transform: uppercase;

    color: #1a1a1a;
    padding-top: 20px;

    mix-blend-mode: normal;
  }
  .card-body {
    min-height: 230px;
  }
  .card-text {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    /* identical to box height, or 150% */

    text-align: center;

    color: #1a1a1a;

    mix-blend-mode: normal;
    opacity: 0.8;
  }
  .chan {
    margin-top: 60px;
    .left {
      height: 1px;
      background: gray;
      width: 45%;
    }
    .right {
      height: 1px;
      background: gray;
      width: 45%;
    }
  }
  .seemore {
    width: 105px;
    height: 33px;
    font-family: Sarabun;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    text-transform: uppercase;
    color: #ed2c34;
    mix-blend-mode: normal;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #ed2c34;
  }
  .heading {
    margin-bottom: 50px;
    font-family: PF BeauSans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 150%;
    /* or 57px */
    text-transform: uppercase;
    color: #222222;
  }
  img {
    width: 80%;
  }
  .right {
    width: 90%;
  }
  .pl {
    padding-left: 100px;
  }
  .content {
    .number {
      font-family: Sarabun;
      font-style: normal;
      font-weight: bold;
      font-size: 60px;
      line-height: 37px;
      color: #ec2c34;
      mix-blend-mode: normal;
      margin-top: 70px;
    }
    .sub-1 {
      width: 400px;
      font-family: Sarabun;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 37px;
      /* or 156% */
      color: #222222;
      padding-top: 10px;
    }
  }
  .subtitle {
    font-family: Sarabun;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #1a1a1a;
    mix-blend-mode: normal;
    width: 70%;
  }
}
