.slogan {
    z-index: 100;
    position: relative;
    height: 100vh;
    img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
    }
    .re {
        position: relative;
        height: 100%;
        .con {
            position: absolute;
            top: 50%;
            left: 0%;
            .ti {
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 155.5%;
                /* identical to box height, or 28px */
                letter-spacing: 0.06em;
                text-transform: uppercase;
                color: #E70031;
            }
        }
        p {
            font-family: PF BeauSans Pro;
            font-style: normal;
            font-weight: normal;
            font-size: 38px;
            line-height: 150%;
            /* or 57px */
            text-transform: uppercase;
            color: #FFFFFF;
        }
    }
}