.slogan {
  position: relative;
  background-color: #e70031;
  .image-block {
    width: 241px;
    height: 241px;
  }
  .block1,
  .block2,
  .block3 {
    .secondary {
      display: flex;
      justify-content: flex-end;
    }
  }

  .block1,
  .block3 {
    background: linear-gradient(
      270deg,
      #c9002b 12.89%,
      rgba(201, 0, 43, 0) 79.61%
    );
  }
  .block2 {
    background-color: #e70031;
    position: relative;
    .primary {
    }
    .container {
      display: flex;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}
