#overlay {
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #E70031;
    transition: 1s 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        width: 100;
    }
}

.hidden {
    display: none !important;
}

.header {
    height: 100px;
    background: #f8f5f7;
    z-index: 99;
    >div {
        height: 60px;
        background-color: #fff;
    }
    .logo {
        img {
            width: 88px;
        }
    }
    .menu {
        .menu__item {
            a {
                font-style: normal;
                font-weight: 700;
                font-size: 12px;
                line-height: 116.3%;
                text-align: center;
                text-transform: uppercase;
                color: #080808;
                margin-right: 25px;
                &:hover {
                    text-decoration: none;
                }
            }
            select,
            img {
                margin-right: 25px;
            }
            .btn-group {
                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: none;
                    transition: none !important;
                    border-radius: 0 !important;
                    outline: none;
                    border: none;
                    padding: 0;
                    &:focus {
                        box-shadow: none;
                    }
                }
                >ul {
                    right: 0 !important;
                }
            }
        }
        .space {
            width: 2px;
            height: 20px;
            margin-right: 40px;
            margin-left: 20px;
            background-color: rgba(0, 0, 0, .2);
        }
    }
}