.mode-mobile {
  @media screen and (max-width: 768px) {
    display: block;
  }
  @media screen and (min-width: 769px) {
    display: none !important;
  }
}
.mode-web {
  @media screen and (max-width: 768px) {
    display: none !important;
  }
  @media screen and (min-width: 769px) {
    display: block;
  }
}
.wrapper {
  @media screen and (max-width: 425px) {
    background: #f9f6f8;
  }
}
.header-mobile {
  background-color: white;
  .logo {
    width: 96.35px;
    img {
      width: 100%;
    }
  }
  .menu-bar {
    width: 24px;
    height: 24px;
  }
}
.banner-mobile {
  .video-banner-mobile {
    width: 100%;
    video {
      width: 100%;
    }
  }
  .content {
    .bb {
      width: 90%;
      margin: auto;
      height: 1px;
      background-color: rgba($color: #000000, $alpha: 0.2);
    }
    .subtitle {
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 24px;
      /* identical to box height, or 200% */

      text-align: center;
      padding: 40px 0 20px 0;
      letter-spacing: 0.09em;

      color: #a6a6a6;

      mix-blend-mode: normal;
    }
    .title {
      font-style: normal;
      font-weight: bold;
      font-size: 36px;
      line-height: 129%;
      /* or 46px */

      display: flex;
      align-items: center;
      text-align: center;
      text-transform: uppercase;

      color: #141719;
    }
    .description {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 27px;
      padding: 25px 0;
      /* or 153% */

      text-align: center;

      color: #0c0c0c;

      mix-blend-mode: normal;
      opacity: 0.8;
    }
    .button-seemore {
      margin: auto;
      margin-bottom: 64px;
    }
  }
}
.service-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px 0;
  .title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 140.5%;
    /* or 34px */

    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

    color: #141719;
    width: 80%;
    margin: auto;
  }
  .subtitle {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    width: 80%;
    margin: auto;
    /* or 171% */

    text-align: center;

    color: #010b12;

    mix-blend-mode: normal;
    opacity: 0.8;
    padding: 30px 0;
  }
  .des {
    text-align: center;
    margin: 20px 0 40px 0;
    width: 80%;
    font-size: 14px;
  }
  .button-seemore {
    margin: auto;
    margin-bottom: 64px;
  }
}
.global-mobile {
  height: 550px;
  position: relative;
  background-color: #000 !important;
  z-index: 0;
  .title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 140.5%;
    /* or 34px */

    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

    color: #f8f6f6;
    width: 80%;
    margin: auto;
    padding-top: 70px;
    padding-bottom: 20px;
  }
  .des {
    font-style: normal;
    font-weight: normal;
    font-size: 15.4594px;
    line-height: 26px;
    /* or 167% */

    text-align: center;

    color: #f8f6f6;

    mix-blend-mode: normal;
    opacity: 0.8;
    width: 80%;
    margin: auto;
  }
  .global-img {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
  }
}
.slogan-mobile {
  z-index: 10000;
  background-color: #e70031 !important;
  .title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 140.5%;
    /* or 34px */

    text-align: center;
    text-transform: uppercase;
    margin: auto;
    width: 100%;

    color: #f8f6f6;
    padding-top: 50px;
    padding-bottom: 20px;
  }
  .sub {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 34px;
    /* identical to box height, or 144% */

    text-align: center;

    color: #f8f6f6;

    mix-blend-mode: normal;
    opacity: 0.8;
    padding-bottom: 50px;
  }
  img {
    width: 100%;
  }
}
.core-value-mobile {
  background-color: #e70031 !important;
  .title {
    padding-top: 60px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 140.5%;
    text-align: center;
    text-transform: uppercase;

    color: #f8f6f6;
    padding-bottom: 40px;
  }
  .num {
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 140.5%;
    /* or 67px */

    display: flex;
    align-items: center;
    text-transform: uppercase;

    color: #f8f6f6;
  }
  .head {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 140.5%;
    /* or 25px */

    display: flex;
    align-items: center;
    text-transform: uppercase;

    color: #f8f6f6;
    padding-bottom: 30px;
    border-bottom: 1px solid #fff;
    width: 100%;
    margin-bottom: 30px;
  }
  .des {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    /* or 161% */

    color: #f8f6f6;

    mix-blend-mode: normal;
    opacity: 0.8;
  }
}
.slide-mobile {
  overflow: hidden;
  .swiper-container {
    overflow: unset;
    .swiper-pagination-progressbar {
      top: 280px !important;
      background-color: #c4c4c4 !important;
      .swiper-pagination-progressbar-fill {
        background-color: #ec2c34;
      }
    }
    .swiper-slide {
      img {
        object-fit: cover;
        width: 100% !important;
        min-height: 280px;
      }
    }
  }
}
.history-mobile {
  padding-left: 20px;
  padding-top: 30px;
  padding-bottom: 50px;
  .title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 140.5%;
    /* identical to box height, or 34px */

    display: flex;
    align-items: center;
    text-transform: uppercase;
    padding-bottom: 20px;
    color: #141719;
  }
  .des {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    /* or 169% */

    color: #1a1a1a;

    mix-blend-mode: normal;
    padding-bottom: 30px;
  }
  .slide-his {
    .item {
      img {
        border: 3px solid #e70031;
        border-radius: 50%;
        width: 310px;
        height: 310px;
      }
      .date {
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 150%;
        /* identical to box height, or 54px */

        letter-spacing: -0.03em;
        text-transform: uppercase;

        color: #e70031;
        padding: 20px 0;
      }
      .text {
        ul {
          li {
            margin-left: 35px;
            position: relative;
            padding-bottom: 20px;
            &::before {
              position: absolute;
              content: "";
              background: #e70031;
              border-radius: 5px;
              width: 10px;
              height: 10px;
              top: 10px;
              left: -25px;
            }
          }
        }
      }
    }
  }
}
.develop-mobile {
  padding-bottom: 30px;
  .card {
    position: relative;
    overflow: hidden;
    width: 90%;
    .number {
      position: absolute;
      top: 180px;
      left: 50%;
      width: 57px;
      height: 57px;
      border-radius: 50%;
      background: #ffffff;
      font-weight: bold;
      font-size: 24px;
      line-height: 25px;
      z-index: 10000;
      /* identical to box height, or 104% */

      display: flex;
      align-items: center;
      text-align: center;

      color: #e70031;

      mix-blend-mode: normal;
      opacity: 1;
      transform: translateX(-50%);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .card-img-top {
    width: 100%;
  }
  .card-title {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    min-height: 70px;
    /* identical to box height, or 133% */

    text-align: center;
    text-transform: uppercase;

    color: #1a1a1a;
    padding-top: 20px;

    mix-blend-mode: normal;
  }
  .card-body {
    min-height: 230px;
  }
  .card-text {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    /* identical to box height, or 150% */

    text-align: center;

    color: #1a1a1a;

    mix-blend-mode: normal;
    opacity: 0.8;
  }
  .chan {
    margin-top: 60px;
    .left {
      height: 1px;
      background: #bebebe;
      width: 30%;
    }
    .right {
      height: 1px;
      background: #bebebe;
      width: 30%;
    }
  }
  .seemore {
    width: 110px;
    height: 33px;
    font-family: Sarabun;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 24px;
    /* or 171% */
    text-transform: uppercase;
    color: #ed2c34;
    mix-blend-mode: normal;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #ed2c34;
    &:focus {
      outline: none;
    }
  }
  .title {
    margin-bottom: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 140.5%;
    /* or 34px */

    display: flex;
    align-items: center;
    text-transform: uppercase;

    color: #141719;
    padding-left: 20px;
  }
  .content {
    width: 80%;
    padding-left: 20px;
    .number {
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      line-height: 37px;
      /* or 104% */

      color: #ec2c34;

      mix-blend-mode: normal;
      margin-top: 20px;
    }
    .sub-1 {
      font-family: Sarabun;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 37px;
      /* or 156% */
      color: #222222;

      padding-top: 10px;
    }
  }
  .subtitle {
    font-family: Sarabun;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #1a1a1a;
    mix-blend-mode: normal;
    width: 70%;
    padding-left: 20px;
  }
}
.news-mobile {
  .head {
    padding-bottom: 20px;
  }
  .title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 140.5%;
    /* identical to box height, or 34px */

    display: flex;
    align-items: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;

    color: #141719;
  }
  .filter {
    width: 105px;
    height: 47px;
    background-color: #fff;
    p {
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 25px;
      /* identical to box height, or 156% */

      display: flex;
      align-items: center;

      color: #000000;

      mix-blend-mode: normal;
      opacity: 0.8;
      margin: 0;
    }
    img {
      margin-right: 10px;
    }
  }
  .chan {
    margin-top: 60px;
    margin-bottom: 30px;
    .left {
      height: 1px;
      background: #bebebe;
      width: 30%;
    }
    .right {
      height: 1px;
      background: #bebebe;
      width: 30%;
    }
  }
  .seemore {
    width: 80px;
    height: 33px;
    font-family: Sarabun;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 24px;
    /* or 171% */
    text-transform: uppercase;
    color: #ed2c34;
    mix-blend-mode: normal;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #ed2c34;
    &:focus {
      outline: none;
    }
  }
  .list-cate {
    .bottom {
      background-color: #201a1c;
      margin-top: -10px;
      p {
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        /* or 133% */

        text-transform: uppercase;

        color: #f8f6f6;

        mix-blend-mode: normal;
        padding: 20px;
      }
      .date {
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 24px;
        /* identical to box height, or 200% */

        text-transform: uppercase;

        color: #f8f6f6;

        mix-blend-mode: normal;
        opacity: 0.6;
        padding: 20px;
      }
    }
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: nowrap;
      li {
        padding: 0;
        border-radius: 0;
        a {
          padding: 0px 5px;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 58px;
          /* or 322% */

          display: flex;
          align-items: center;
          text-align: center;
          letter-spacing: -1px;

          color: #b9b9b9;
          border-radius: 0;
        }
        .active {
          background-color: transparent;
          color: #000000;
          border-bottom: 4px solid #ed2c34;
        }
      }
    }
  }
  .slider-news-mb {
    .item {
      background-color: #fff !important;
      .title {
        width: 70%;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        padding-left: 20px;
        /* or 133% */

        text-transform: uppercase;

        color: #1a1a1a;
        padding-top: 20px;
        mix-blend-mode: normal;
      }
      .foot {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 37px 20px 9px 20px;
        .date {
          font-style: normal;
          font-weight: 600;
          font-size: 12px;
          line-height: 24px;
          /* identical to box height, or 200% */

          display: flex;
          align-items: center;
          text-transform: uppercase;

          color: #787878;
        }
        .button {
          border: 1px solid #ed2c34;
          box-sizing: border-box;
          border-radius: 32px;
          font-style: normal;
          font-weight: bold;
          font-size: 11px;
          line-height: 14px;
          display: flex;
          justify-content: center;
          align-items: center;
          /* identical to box height */

          letter-spacing: 0.045em;
          text-transform: uppercase;

          color: #ed2c34;
          width: 93px;
          height: 37px;
        }
      }
    }
  }
  .list-company {
    padding-bottom: 30px;

    .item {
      padding: 10px 0;
      p {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 133%;
        /* identical to box height, or 24px */

        letter-spacing: -0.01em;

        color: #000000;
      }
    }
  }
}
#headerModal {
  .modal-dialog {
    .modal-content {
      .modal-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        .modal-title {
          width: 96px;
          img {
            width: 100%;
          }
        }
      }
      .modal-body {
        p {
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 116.3%;
          /* identical to box height, or 19px */

          text-transform: uppercase;

          color: #0c0c0c;
          text-align: center;
        }
      }
      .modal-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}
#filterModalCenter {
  .modal-dialog {
    .modal-content {
      .modal-header {
        .modal-title {
          font-style: normal;
          font-weight: bold;
          font-size: 24px;
          line-height: 140.5%;
          /* identical to box height, or 34px */

          display: flex;
          align-items: center;
          letter-spacing: -0.03em;
          text-transform: uppercase;

          color: #141719;
        }
      }
      .modal-body {
        .item {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 20px;
          span {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            /* identical to box height, or 121% */

            letter-spacing: 0.01em;
            text-transform: uppercase;

            color: #1a1a1a;

            mix-blend-mode: normal;
            opacity: 0.6;
          }
          select {
            width: 120px;
            height: 47px;
            background: #ffffff;
            border: 1px solid #efefef;
            box-sizing: border-box;
            border-radius: 8px;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 25px;

            color: #000000;

            mix-blend-mode: normal;
            opacity: 0.8;
            &:focus {
              outline: none;
            }
          }
        }
        .bb {
          height: 1px;
          width: 90%;
          margin: 40px auto;
          background-color: rgba($color: #000000, $alpha: 0.1);
        }
      }
      .modal-footer {
        button {
          border: none;
          background: transparent;
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          line-height: 24px;
          /* identical to box height, or 171% */

          display: flex;
          align-items: center;
          text-transform: uppercase;

          color: #ed2c34;

          mix-blend-mode: normal;
          &:focus {
            outline: none;
          }
        }
      }
    }
  }
}
