* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Sarabun", sans-serif !important;
}

ul,
li {
  list-style: none;
}

ul {
  margin: 0;
}

a {
  text-decoration: none !important;
}

@font-face {
  font-family: "PF BeauSans Pro";
  src: url("../font/FS PFBeauSansPro-Regular.ttf") format("truetype"), url("../font/FS PFBeauSansPro-Bbook.ttf") format("truetype"), url("../font/FS PFBeauSansPro-BbookItalic.ttf") format("truetype"), url("../font/FS PFBeauSansPro-Black.ttf") format("truetype"), url("../font/FS PFBeauSansPro-BlackItalic.ttf") format("truetype"), url("../font/FS PFBeauSansPro-Bold.ttf") format("truetype"), url("../font/FS PFBeauSansPro-BoldItalic.ttf") format("truetype"), url("../font/FS PFBeauSansPro-Italic.ttf") format("truetype"), url("../font/FS PFBeauSansPro-Light.ttf") format("truetype"), url("../font/FS PFBeauSansPro-LightItalic.ttf") format("truetype"), url("../font/FS PFBeauSansPro-SemiBold.ttf") format("truetype"), url("../font/FS PFBeauSansPro-SemiBoldItalic.ttf") format("truetype");
}
.custom-pagination {
  background-color: #ed2c34;
}

/**
   * @param $direction: horizontal vertical both
   example : @include center(both) || @include center(horizontal) || @include center(vertical)
   */
/* ===== Usage ===== */
p {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.1em;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.1em;
}

.button-seemore {
  color: #ee0033;
  border: none;
  border-bottom: 3px solid #ee0033;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  padding-bottom: 10px;
  background: none;
}

.circle {
  border-radius: 50%;
}

.opacity-0 {
  opacity: 0;
}

.text-bold {
  font-weight: 600;
}

.text-title {
  font-size: 38px;
  font-weight: 700;
  line-height: 57px;
  text-transform: uppercase;
  color: #fff;
}

.text-sub {
  font-size: 24px;
  line-height: 34, 5px;
  font-weight: 400px;
  color: #fff;
}

.color-white {
  color: #fff;
}

.color-black {
  color: #222222;
}

.color-grey {
  color: #F8F6F6;
}

#overlay {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #e70537;
  transition: 1s 0.4s;
  display: flex;
  align-items: center;
  justify-content: center;
}
#overlay img {
  width: 100;
}

.hidden {
  display: none !important;
}

.header {
  height: 100px;
  background: #f8f5f7;
  z-index: 99;
}
.header > div {
  height: 60px;
  background-color: #fff;
}
.header .logo img {
  width: 88px;
}
.header .menu .menu__item a {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 116.3%;
  text-align: center;
  text-transform: uppercase;
  color: #080808;
  margin-right: 25px;
}
.header .menu .menu__item a:hover {
  text-decoration: none;
}
.header .menu .menu__item select,
.header .menu .menu__item img {
  margin-right: 25px;
}
.header .menu .menu__item .btn-group button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  transition: none !important;
  border-radius: 0 !important;
  outline: none;
  border: none;
  padding: 0;
}
.header .menu .menu__item .btn-group button:focus {
  box-shadow: none;
}
.header .menu .menu__item .btn-group > ul {
  right: 0 !important;
}
.header .menu .space {
  width: 2px;
  height: 20px;
  margin-right: 40px;
  margin-left: 20px;
  background-color: rgba(0, 0, 0, 0.2);
}

.footer {
  padding: 60px 0 0;
}
.footer .logo-footer {
  padding-bottom: 50px;
  width: 160px;
}
.footer .logo-footer img {
  width: 100%;
}
.footer .foot-left .email {
  font-family: Sarabun;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height, or 136% */
  display: flex;
  align-items: center;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #2c2c2c;
}
.footer .foot-left .address {
  font-family: Sarabun;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  color: #2c2c2c;
  mix-blend-mode: normal;
  opacity: 0.8;
  width: 50%;
  padding: 15px 0 50px 0;
}
.footer .about {
  display: flex;
  align-items: center;
}
.footer .about p {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 25px;
  /* identical to box height, or 208% */
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #2c2c2c;
  mix-blend-mode: normal;
  opacity: 0.8;
  margin: 0 20px 0 0;
}
.footer .about span {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #2c2c2c;
  padding: 0 20px;
  border-left: 2px solid #e70031;
}
.footer .foot-right .social {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.footer .foot-right .social img {
  background-color: #67686c;
  width: 42px;
  height: 40px;
  margin-right: 20px;
  border-radius: 50%;
  padding: 10px;
  margin-bottom: 20px;
}
.footer .foot-right .social img:hover {
  background-color: #e70031;
}
.footer .foot-right p {
  font-family: Sarabun;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 116.3%;
  /* identical to box height, or 14px */
  text-align: right;
  text-transform: uppercase;
  color: #2c2c2c;
  cursor: pointer;
}
.footer .foot-right ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer .foot-right ul li {
  font-family: Sarabun;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 116.3%;
  /* identical to box height, or 14px */
  text-align: right;
  text-transform: uppercase;
  color: #2c2c2c;
  margin-bottom: 20px;
  cursor: pointer;
}

.banner-container {
  background: #f8f5f7;
  position: relative;
}
.banner-container .video {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.banner-container .video video {
  width: 100%;
  height: 100%;
}
.banner-container .banner {
  display: flex;
  height: 90vh;
  align-items: center;
  background-size: cover;
}
.banner-container .banner .banner-left {
  position: relative;
}
.banner-container .banner .banner__right {
  position: relative;
  z-index: 2;
}
.banner-container .banner .banner__right.active #text-des,
.banner-container .banner .banner__right.active .slogan {
  opacity: 1;
}
.banner-container .banner .banner__right .banner-slogan {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  color: #a6a6a6;
  margin-bottom: 10px;
  opacity: 0;
}
.banner-container .banner .banner__right .heading p {
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 59.9px;
  text-transform: uppercase;
  color: #0c0c0c;
  font-family: "PF BeauSans Pro";
}
.banner-container .banner .banner__right #text-des {
  opacity: 0;
}
.banner-container .banner .banner__right #text-des .subheading {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #0c0c0c;
  mix-blend-mode: normal;
  width: 100%;
  padding-bottom: 50px;
}
.banner-container .banner .banner__right #text-des .button-seemore button {
  color: #ee0033;
  border: none;
  border-bottom: 3px solid #ee0033;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  padding-bottom: 10px;
  background: none;
}
.banner-container .banner .banner__right #text-des .button-seemore button:focus {
  outline: none;
}
.banner-container .banner .banner__right #text-des .button-seemore .play {
  cursor: pointer;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: #f8f5f7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service {
  padding: 160px 0;
  position: relative;
  background-color: #faf6f8;
  overflow: hidden;
}
.service video {
  position: absolute;
  top: 20%;
  right: -45%;
  transform: translateY(-50%);
  width: 100%;
  height: 70%;
  transform: rotate(20deg);
}
.service .heading {
  font-family: PF BeauSans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 150%;
  /* or 57px */
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #15181a;
}
.service .dest {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  color: #010b12;
  mix-blend-mode: normal;
  opacity: 0.8;
  width: 44%;
}
.service .title {
  font-family: Sarabun;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 157.3%;
  /* identical to box height, or 28px */
  display: flex;
  align-items: flex-end;
  text-transform: uppercase;
  color: #010b12;
}
.service .des {
  font-family: Sarabun;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  color: #010b12;
  mix-blend-mode: normal;
  width: 70%;
}
.service .button-seemore {
  margin-bottom: 20px;
}
.service .image-circle {
  width: 120px;
  height: 120px;
  object-fit: cover;
  margin-right: 20px;
  margin-top: 50px;
}

.slogan {
  position: relative;
  background-color: #e70031;
}
.slogan .image-block {
  width: 241px;
  height: 241px;
}
.slogan .block1 .secondary,
.slogan .block2 .secondary,
.slogan .block3 .secondary {
  display: flex;
  justify-content: flex-end;
}
.slogan .block1,
.slogan .block3 {
  background: linear-gradient(270deg, #c9002b 12.89%, rgba(201, 0, 43, 0) 79.61%);
}
.slogan .block2 {
  background-color: #e70031;
  position: relative;
}
.slogan .block2 .container {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.bg-black .sticky {
  position: sticky;
  top: 50px;
  z-index: -1;
}
.bg-black .map-animation {
  height: 1500px;
}
.bg-black .map-animation canvas {
  width: 100%;
}
.bg-black .telecom {
  padding: 100px 0;
}
.bg-black .telecom .bdg {
  padding-bottom: 90px;
  border-bottom: 3px solid #554d4d;
}
.bg-black .telecom .title {
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 150%;
  margin-bottom: 30px;
  text-transform: uppercase;
  color: #f8f6f6;
  z-index: 1000;
}
.bg-black .telecom .description {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  color: #f8f6f6;
  mix-blend-mode: normal;
  opacity: 0.8;
  width: 60%;
}
.bg-black .telecom ul li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 22px;
}
.bg-black .telecom ul li img {
  margin-right: 10px;
}
.bg-black .telecom ul li p {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 157.3%;
  /* identical to box height, or 38px */
  display: flex;
  align-items: flex-end;
  text-transform: uppercase;
  color: #f8f6f6;
  margin: 0;
}
.bg-black .global {
  font-family: PF BeauSans Pro;
  padding-top: 0px;
  position: relative;
  padding-bottom: 650px;
}
@media screen and (max-width: 1440px) {
  .bg-black .global {
    padding-bottom: 450px;
  }
}
.bg-black .global h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 40px;
  /* or 167% */
  text-align: center;
  color: #f8f6f6;
  mix-blend-mode: normal;
  opacity: 0.8;
}
.bg-black .global p {
  font-family: PF BeauSans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 38px;
  line-height: 150%;
  /* or 57px */
  text-align: center;
  text-transform: uppercase;
  color: #f8f6f6;
}
.bg-black .global img {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 40%);
}
.section-core-value {
  background-color: #e70031;
  min-height: 70vh;
}
.section-core-value .text-title {
  padding-top: 110px;
}
.section-core-value .item {
  width: 70%;
}
.section-core-value .item .number {
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 150%;
  /* identical to box height, or 90px */
  text-transform: uppercase;
  color: #f8f6f6;
  opacity: 0.57;
}
.section-core-value .item .title {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  /* identical to box height, or 36px */
  text-transform: uppercase;
  color: #f8f6f6;
  padding-bottom: 17px;
  border-bottom: 1px solid #f8f6f6;
}
.section-core-value .item .des {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  /* or 144% */
  color: #f8f6f6;
  mix-blend-mode: normal;
  opacity: 0.8;
  margin-top: 27px;
}

.history {
  position: relative;
  background: #faf6f8;
  padding-bottom: 100px;
  padding-top: 550px;
}
.history .pading-t ul li {
  margin-left: 35px;
  position: relative;
}
.history .pading-t ul li::before {
  position: absolute;
  content: "";
  background: #e70031;
  border-radius: 5px;
  width: 10px;
  height: 10px;
  top: 10px;
  left: -25px;
}
.history .his {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -30%);
  overflow: hidden;
  width: 1060px;
  height: 543px;
}
.history .his .swiper-container {
  overflow: unset;
}
.history .his .swiper-container .swiper-pagination-progressbar {
  top: 539px !important;
  background-color: #c4c4c4 !important;
}
.history .his .swiper-container .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background-color: #ec2c34;
}
.history .his .mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 1060px;
  height: 543px;
}
.history .heading-top {
  font-family: PF BeauSans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 150%;
  /* identical to box height, or 57px */
  text-transform: uppercase;
  color: #222222;
}
.history .content {
  font-family: Sarabun;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  /* or 36px */
  color: #1a1a1a;
  mix-blend-mode: normal;
  opacity: 0.8;
  width: 80%;
}
.history .swiper-slider-his {
  position: relative;
}
.history .swiper-slider-his .line-his {
  position: absolute;
  right: -50%;
  top: 50%;
}
.history .swiper-slider-his .swiper-slide {
  z-index: 100000000;
}
.history .swiper-slider-his .swiper-slide .item-year {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.history .swiper-slider-his .swiper-slide .item-year .bg-img {
  position: absolute;
  width: 100%;
  display: block !important;
}
.history .swiper-slider-his .swiper-slide .item-year .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  z-index: 10;
  opacity: 0;
  background: transparent;
}
.history .swiper-slider-his .swiper-slide .item-year .overlay p,
.history .swiper-slider-his .swiper-slide .item-year .overlay img {
  display: none;
}
.history .swiper-slider-his .swiper-slide-active .item-year {
  position: relative;
}
.history .swiper-slider-his .swiper-slide-active .item-year .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.31), rgba(0, 0, 0, 0.31)), url(ptt_1959_8.jpg);
  border-radius: 50%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 1;
  border: 3px solid #e70031;
}
.history .swiper-slider-his .swiper-slide-active .item-year .overlay p {
  display: block;
  font-family: PF BeauSans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 42px;
  line-height: 150%;
  text-transform: uppercase;
  color: #f8f6f6;
  margin-top: 20px;
  z-index: 1000;
}
.history .swiper-slider-his .swiper-slide-active .item-year .overlay img {
  display: block;
  z-index: 1000;
}
.history .swiper-slider-his .swiper-slide-active .item-year .bg-img {
  position: absolute;
  width: 100%;
  display: block;
  z-index: 0;
}
.history .swiper-slider-his .his-next,
.history .swiper-slider-his .his-prev {
  outline: none;
}

.his__develop {
  padding-top: 150px;
  background-color: #faf6f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}
.his__develop img {
  transition: all 0.8s ease-in-out;
}
.his__develop img:hover {
  transform: scale(1.1);
}
.his__develop .card {
  position: relative;
  overflow: hidden;
}
.his__develop .card .number {
  position: absolute;
  top: 180px;
  left: 50%;
  width: 57px;
  height: 57px;
  border-radius: 50%;
  background: #ffffff;
  font-weight: bold;
  font-size: 24px;
  line-height: 25px;
  z-index: 10000;
  /* identical to box height, or 104% */
  display: flex;
  align-items: center;
  text-align: center;
  color: #e70031;
  mix-blend-mode: normal;
  opacity: 1;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.his__develop .card-img-top {
  width: 100%;
}
.his__develop .card-title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  min-height: 70px;
  /* identical to box height, or 133% */
  text-align: center;
  text-transform: uppercase;
  color: #1a1a1a;
  padding-top: 20px;
  mix-blend-mode: normal;
}
.his__develop .card-body {
  min-height: 230px;
}
.his__develop .card-text {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  /* identical to box height, or 150% */
  text-align: center;
  color: #1a1a1a;
  mix-blend-mode: normal;
  opacity: 0.8;
}
.his__develop .chan {
  margin-top: 60px;
}
.his__develop .chan .left {
  height: 1px;
  background: gray;
  width: 45%;
}
.his__develop .chan .right {
  height: 1px;
  background: gray;
  width: 45%;
}
.his__develop .seemore {
  width: 105px;
  height: 33px;
  font-family: Sarabun;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  text-transform: uppercase;
  color: #ed2c34;
  mix-blend-mode: normal;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #ed2c34;
}
.his__develop .heading {
  margin-bottom: 50px;
  font-family: PF BeauSans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 150%;
  /* or 57px */
  text-transform: uppercase;
  color: #222222;
}
.his__develop img {
  width: 80%;
}
.his__develop .right {
  width: 90%;
}
.his__develop .pl {
  padding-left: 100px;
}
.his__develop .content .number {
  font-family: Sarabun;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 37px;
  color: #ec2c34;
  mix-blend-mode: normal;
  margin-top: 70px;
}
.his__develop .content .sub-1 {
  width: 400px;
  font-family: Sarabun;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  /* or 156% */
  color: #222222;
  padding-top: 10px;
}
.his__develop .subtitle {
  font-family: Sarabun;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #1a1a1a;
  mix-blend-mode: normal;
  width: 70%;
}

.achievement {
  padding: 120px 0;
  background-size: cover;
  background: url(../images/bg_achievement.svg) no-repeat top;
}
.achievement .heading {
  font-family: PF BeauSans Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 150%;
  /* identical to box height, or 57px */
  text-align: center;
  text-transform: uppercase;
  color: #222222;
  padding-bottom: 10px;
}
.achievement .sub-heading {
  font-family: Sarabun;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 155.5%;
  /* identical to box height, or 28px */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #808080;
}
.achievement .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  position: relative;
}
.achievement .item img {
  --animate-duration: 1s;
  --animate-repeat: infinite;
}
.achievement .item .total {
  position: absolute;
  top: 35%;
  left: 50%;
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 150%;
  text-transform: uppercase;
  color: #ed2c34;
  transform: translate(-50%, -50%);
}
.achievement .item .title {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 157.3%;
  margin-top: 20px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  text-transform: uppercase;
  color: #1a1a1a;
}

.news {
  background: #fff;
  padding-top: 132px;
}
.news .nav {
  border-bottom: 2px solid #dadada;
  margin-bottom: 20px;
}
.news .nav li button {
  background: transparent;
  border: none;
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 58px;
  /* identical to box height, or 207% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -2px;
  color: #b9b9b9;
  padding: 20px 30px;
  margin: 0 20px;
  border-radius: 0;
}
.news .nav li button:focus {
  outline: none;
}
.news .nav li .active {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 58px;
  /* identical to box height, or 207% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -2px;
  color: #000000;
  background: transparent;
  border: none;
  border-bottom: 4px solid #e70031;
}
.news .item {
  overflow: hidden;
}
.news .center {
  padding: 60px 0;
  background-color: #f8f6f6;
}
.news img {
  transition: all 0.8s ease-in-out;
}
.news img:hover {
  transform: scale(1.1);
}
.news .text-see {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */
  text-transform: uppercase;
  color: #ed2c34 !important;
  mix-blend-mode: normal;
  margin-right: 15px;
}
.news .filter {
  margin-top: 20px;
  background-color: #f8f6f6;
  margin-bottom: 60px;
  padding: 15px 30px;
}
.news .filter span {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height, or 121% */
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #1a1a1a;
  mix-blend-mode: normal;
  opacity: 0.6;
  margin-right: 10px;
  margin-left: 20px;
}
.news .filter select {
  width: 120px;
  height: 47px;
  background: #ffffff;
  border: 1px solid #efefef;
  box-sizing: border-box;
  border-radius: 8px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.8;
}
.news .filter select:focus {
  outline: none;
}
.news .sliders {
  position: relative;
}
.news .sliders .prev-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 46px;
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 25%;
  left: -15px;
  z-index: 2;
  transform: translateY(-50%);
}
.news .sliders .next-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 46px;
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 25%;
  right: -15px;
  z-index: 2;
  transform: translateY(-50%);
}
.news .chan {
  margin-top: 50px;
}
.news .chan .left {
  height: 1px;
  background: gray;
  width: 45%;
}
.news .chan .right {
  height: 1px;
  background: gray;
  width: 45%;
}
.news .seemore {
  width: 85px;
  height: 33px;
  font-family: Sarabun;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  text-transform: uppercase;
  color: #ed2c34;
  mix-blend-mode: normal;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #ed2c34;
  margin: 0 20px;
}
.news .title {
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 124.5%;
  /* identical to box height, or 52px */
  text-transform: uppercase;
  color: #222222;
}
.news .menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 30px 0;
}
.news .menu li {
  display: flex;
  align-items: center;
  justify-content: center;
}
.news .menu li img {
  margin-right: 20px;
}
.news .menu li span {
  font-family: Sarabun;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height, or 121% */
  text-transform: uppercase;
  color: #1a1a1a;
  mix-blend-mode: normal;
}
.news .bgw {
  background-color: #ffffff;
}
.news .item {
  margin-bottom: 20px;
  background-color: #fff;
}
.news .item img {
  width: 100%;
}
.news .item .heading {
  font-family: Sarabun;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  /* or 133% */
  text-transform: uppercase;
  color: #1a1a1a;
  margin-top: 20px;
  margin-bottom: 20px;
}
.news .item p {
  font-family: Sarabun;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  color: #1a1a1a;
  mix-blend-mode: normal;
  opacity: 0.8;
}
.news .item .foot {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.news .item .foot .date {
  font-family: Sarabun;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  /* identical to box height, or 200% */
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #787878;
  mix-blend-mode: normal;
}
.news .item .foot button {
  width: 93px;
  height: 37px;
  border: 1px solid #ed2c34;
  box-sizing: border-box;
  border-radius: 32px;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 14px;
  /* identical to box height */
  letter-spacing: 0.045em;
  text-transform: uppercase;
  color: #ed2c34;
  /* Inside Auto Layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
  background-color: transparent;
}
.news .item .foot button:focus {
  outline: none;
}
.news .item .foot .more {
  display: flex;
  justify-content: center;
  align-items: center;
}
.news .list-service {
  padding-top: 50px;
  padding-bottom: 20px;
  cursor: url("../images/icon-hover.svg") 0 80, auto;
}
.news .list-service #owl-carousel {
  display: flex;
}
.news .list-service .owl-carousel.owl-drag .owl-item {
  height: 40px;
  display: flex;
  align-items: flex-end;
}
.news .list-service p {
  font-family: PF BeauSans Pro;
  font-style: normal;
  font-weight: 500;
  font-size: 33.5px;
  line-height: 133%;
  margin: 0 !important;
  /* identical to box height, or 45px */
  letter-spacing: -0.035em;
  color: #d6d6d6;
  margin-left: 30px;
  position: relative;
  transition: ease-in-out 0.5s;
  cursor: url("../images/icon-hover.svg") 0 80, auto;
}
@media screen and (max-width: 1441px) {
  .news .list-service p {
    font-size: 20px;
  }
}
.news .list-service p:hover {
  color: #e70031;
  cursor: auto;
  cursor: url("../images/icon-hover.svg") 0 80, pointer;
}
.news .video {
  margin-top: 60px;
}
.news .video .head span {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */
  text-transform: uppercase;
  color: #ed2c34;
  mix-blend-mode: normal;
}
.news .video .head .left p {
  margin-bottom: 0;
  font-family: Sarabun;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 17px;
  /* identical to box height, or 94% */
  text-transform: uppercase;
  color: #1a1a1a;
  mix-blend-mode: normal;
  margin-left: 10px;
}
.news .video .content {
  height: 338px;
  margin-top: 50px;
  background-color: #201a1c;
}
.news .video .content .content-video-new {
  position: relative;
  height: 338px;
}
.news .video .content .content-video-new.active .overlay-video {
  display: none;
}
.news .video .content .content-video-new .overlay-video {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.77);
}
.news .video .content .content-video-new video {
  width: 100%;
  height: 100%;
}
.news .video .content .content-video-new video:focus {
  outline: none;
}
.news .video .content .right {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.news .video .content .right .top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 30px;
  padding: 0 150px 0 20px;
}
.news .video .content .right .top .title {
  font-family: Sarabun;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  /* or 133% */
  text-transform: uppercase;
  color: #f8f6f6;
  mix-blend-mode: normal;
}
.news .video .content .right .top .date {
  font-family: Sarabun;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  /* identical to box height, or 200% */
  text-transform: uppercase;
  color: #f8f6f6;
  mix-blend-mode: normal;
  opacity: 0.6;
  margin-top: 20px;
}
.news .video .content .right .bottom-control {
  position: relative;
  flex: 1;
}
.news .video .content .right .bottom-control .control {
  position: absolute;
  padding: 0 20px;
  left: 0;
  right: 0;
  bottom: 20px;
}
.news .video .content .right .bottom-control .control .progress-news {
  height: 5px;
  background: rgba(60, 60, 60, 0.6);
  transition: height 0.1s ease-in-out;
  border-radius: 6px;
}
.news .video .content .right .bottom-control .control .progress-news .progress-filled {
  background: #fff;
  height: 100%;
  transition: all 0.1s;
  border-radius: 6px;
}
.news .video .content .right .bottom-control .control .control-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.news .video .content .right .bottom-control .control .control-bottom .time {
  font-size: 12px;
  line-height: 24px;
  color: #f8f6f6;
}
.news .video .content .right .bottom-control .control .control-bottom .volume {
  display: flex;
  align-items: center;
}
.news .video .content .right .bottom-control .control .control-bottom .volume .volume-btn {
  display: flex;
  margin-right: 15px;
}
.news .video .content .right .bottom-control .control .control-bottom .volume .volume-btn.muted {
  background: red;
}
.news .video .content .right .bottom-control .control .control-bottom .volume .volume-slider {
  height: 3px;
  width: 80px;
  background: rgba(60, 60, 60, 0.6);
  border-radius: 6px;
  position: relative;
}
.news .video .content .right .bottom-control .control .control-bottom .volume .volume-filled {
  background: #fff;
  height: 100%;
  border-radius: 6px;
  transition: width 0.2s ease-in-out;
}
.news .images .slider {
  position: relative;
}
.news .images .slider .prev-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 46px;
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: -23px;
  z-index: 2;
  transform: translateY(-50%);
}
.news .images .slider .next-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 46px;
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: -23px;
  z-index: 2;
  transform: translateY(-50%);
}
.news .images #imagesid {
  margin-top: 20px;
}
.news .images .head .left p {
  margin-bottom: 0;
  font-family: Sarabun;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 17px;
  /* identical to box height, or 94% */
  text-transform: uppercase;
  color: #1a1a1a;
  mix-blend-mode: normal;
  margin-left: 10px;
}

.event li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.event li img {
  height: 77px;
  width: 77px;
  margin-right: 20px;
}
.event li .right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.event li .right .title {
  font-family: Sarabun;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  /* or 161% */
  text-transform: uppercase;
  color: #1a1a1a;
  mix-blend-mode: normal;
}
.event li .right .date {
  font-family: Sarabun;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  /* identical to box height, or 200% */
  text-transform: uppercase;
  color: #787878;
  mix-blend-mode: normal;
}

.bbg {
  padding-bottom: 10px;
  border-bottom: 1px solid #858585;
}

/*# sourceMappingURL=main.css.map */
