.button-seemore {
  color: #ee0033;
  border: none;
  border-bottom: 3px solid #ee0033;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  padding-bottom: 10px;
  background: none;
}
.circle {
  border-radius: 50%;
}
.opacity-0{
  opacity: 0;
}
