* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "BeauSansPro";
    src: url("../font/PFBeauSansPro-Regular.ttf");
}

@font-face {
    font-family: "PF BeauSans Pro";
    src: url("../font/PFBeauSansPro-Bold.ttf");
}

body {
    font-family: "Sarabun", sans-serif;
}

ul,
li {
    list-style: none;
}

ul {
    margin: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}